{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/member-delimiter-style": [
      "warn",
      {
        "multiline": {
          "delimiter": "none",
          "requireLast": true
        }
      }
    ],
    "@typescript-eslint/explicit-function-return-type": ["error"],
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/prefer-readonly": ["warn"],
    "@typescript-eslint/camelcase": ["warn", { "properties": "never" }],
    "max-len": ["warn", { "code": 120 }],
    "quotes": ["warn", "single"],
    "semi": ["warn", "never"]
  }
}
